<div class="h1-container">
	<h1 class="default-page-header blog-header">Projects</h1>
</div>
<p></p>
<main>
	<!-- !for demo purposes all project links will direct to project-photograph.html -->
	<!-- holds call project cards in a container -->
	<section class="projects-container">
		<!-- holds individual card -->
		<% @projects.each do |project| %>
			<article class="project-card">
				<!-- holds project image -->
				<div class="card-content">
					<!-- holds project title -->
					<h2 class="blog-heading"><%= project.name.titleize %></h2>
					<% if project.cover_path %>
						<%= image_tag "projects/#{project.cover_path}", alt: project.name, class: "project-img" %>
					<% end %>
					<p class="project-lang">
						<% project.technologies.each do |tech| %>
							<i class="<%= tech.icon %>"></i>
						<% end %>
					</p>
					<p class="blog-des"><%= project.description %></p>
					<%= link_to 'See More', project_path(project.id) %>
				</div>
			</article>
		<% end %>
	</section>
</main>
<%= javascript_include_tag "vanilla-tilt", type:"text/javascript" %>
<%= javascript_include_tag "tilt" %>
